<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LumenApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lumen" >
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Lumen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link for adding entries -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lumen" android:pathPrefix="/" android:host="gas"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- This filter intercepts URLs starting with "lumen://picker-result" -->
                <data
                    android:host="picker-result"
                    android:scheme="lumen" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>

        <!-- <activity
            android:name=".PickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->

        <!-- Add this activity to handle the result from the web picker -->
        <!--<activity
            android:name=".PickerActivity"
            android:launchMode="singleTop"
            android:exported="true">

        </activity> -->
    </application>
</manifest>